.login {
  color: white;
  background-color: #0000004a;
  height: 40px;
  width: 95px;
  border-radius: 16px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  cursor: pointer;
}

.signup {
  color: white;
  background-color: #0000004a;
  height: 24px;
  width: 63px;
  display: flex;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  align-items: center;
  cursor: pointer;
}

.submit {
  color: white;
  background-color: #0000004a;
  height: 28px;
  width: 85px;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  /* display: flex;
  align-items: center; */
  font-size: 1em;
  cursor: pointer;
}
.cancel {
  color: white;
  background-color: #0000004a;
  height: 28px;
  width: 85px;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  /* display: flex;
  align-items: center; */
  font-size: 1em;
  cursor: pointer;
}
