.WholeAppSetting {
  background-image: url(../../public/Assets/SettingsMainPage.png);
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Backbtn {
  margin-top: 100px;
  margin-left: 100px;
  color: white;
  font-size: 1em;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(0, 0, 0); */
  border: 1px solid white;
  cursor: pointer;
}

.ManageApp {
  height: 100px;
  /* margin: 15px; */
  /* padding: 40px; */
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  background-color: rgba(146, 146, 146, 0.738);
  width: 800px;
}
