.menuContainer {
  background-color: rgb(0 0 0 / 26%);
  position: fixed;
  backdrop-filter: blur(2.5px);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menuTop {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navigationIconsAndSearch {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.searchDescription {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}
.simmer {
  color: white;
  font-size: 2em;
  margin: auto;
}
.menuIconsContainer {
  height: 650px;
  width: 1000px;
}
.menuIcons {
  height: 615px;
  width: 790px;
  margin: auto;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.menuIcons::-webkit-scrollbar {
  display: none;
}
.menuIconContainer {
  height: 190px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.iconName {
  color: white;
  font-size: 1.3em;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
