.WholePersonliaztion{
    /* background-image: url(../../public//Assets/SettingsMainPage.png);*/
    height: 100vh; 
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PersonilaztionNav{
    width: 100%;
    height: 60px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: black;
    border: 1px solid white;
}
.PersonilaztionName{
    color: white;
}
.PersonilaztionNameContainer{
    height: 60px;
    width: 300px;
    background-color: rgba(146, 146, 146, 0.738);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.PersonilaztionMiddleware{
 background-image: url(../../public/Assets/SettingsMainPage.png);
 width: 100%;
 height: 635px;

}

.MiddlewareName{
    color: white;
    width: 100%;
    height: 78px;
    padding-top: 20px;
    padding-left: 81px;
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    
    
    
}
.Backgrounds{
  flex: 1;
   margin: 15px;
   padding: 40px;
   border: 2px solid #ccc;
   display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 40px;
    background-color: rgba(146, 146, 146, 0.738);
   
    
}

.Color{
    flex: 1;
    margin: 15px;
    padding: 40px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 40px;
    background-color: rgba(146, 146, 146, 0.738);

}
.Font{
    flex: 1;
    margin: 15px;
    padding: 40px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 40px;
    background-color: rgba(146, 146, 146, 0.738);
    

}
.AllPersonilaztionMiddleware{
    display: flex;
    flex-direction: column;
    width: 1166px;
    padding-left: 346px;
}
.Back{
    border-radius: 1px;
    border-color: white;
    border-style: solid;
    color: white;
    padding-left: 26px;
    width: 86px;
    margin-top: 5px;
}
